.in-1x {
    font-size: 1em;
}

.in-2x {
    font-size: 2em;
}

.in-3x {
    font-size: 3em;
}

.in-4x {
    font-size: 4em;
}

.in-5x {
    font-size: 5em;
}

.in-6x {
    font-size: 6em;
}

.in-7x {
    font-size: 7em;
}

.in-8x {
    font-size: 8em;
}

.in-9x {
    font-size: 9em;
}

.in-10x {
    font-size: 10em;
}

/* Ribbon in the card */
.ribbon-wrapper {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
    top: -6px;
    right: -6px; }
  
.ribbon {
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 30px;
    width: 165px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5px;
    box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
    outline: 1px dashed rgba(var(--bs-warning-rgb), var(--bs-text-opacity));
    outline-offset: -4px; }
  
.ribbon:before, .ribbon:after {
    content: "";
    border-top: 4px solid #17609c;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px; }
  
.ribbon:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: 1;
    border-left: 4px solid #17609c;
    border-right: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-top: 4px solid #17609c; }
  
.ribbon:after {
    content: "";
    position: absolute;
    right: 7px;
    top: 100%;
    z-index: 1;
    border-left: 4px solid transparent;
    border-right: 4px solid #17609c;
    border-bottom: 4px solid transparent;
    border-top: 4px solid #17609c; }