.in-1x {
    font-size: 1em;
}

.in-2x {
    font-size: 2em;
}

.in-3x {
    font-size: 3em;
}

.in-4x {
    font-size: 4em;
}

.in-5x {
    font-size: 5em;
}

.in-6x {
    font-size: 6em;
}

.in-7x {
    font-size: 7em;
}

.in-8x {
    font-size: 8em;
}

.in-9x {
    font-size: 9em;
}

.in-10x {
    font-size: 10em;
}

/* Ribbon in the card */
.ribbon {
    position: absolute;
    top: 15px; /* Adjust this to position it vertically */
    right: 0px; /* Adjust this to position it horizontally */
    z-index: 1; /* Ensures it appears above the card */
    background-color: red;
    color: white;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  