.in-1x {
    font-size: 1em;
}

.in-2x {
    font-size: 2em;
}

.in-3x {
    font-size: 3em;
}

.in-4x {
    font-size: 4em;
}

.in-5x {
    font-size: 5em;
}

.in-6x {
    font-size: 6em;
}

.in-7x {
    font-size: 7em;
}

.in-8x {
    font-size: 8em;
}

.in-9x {
    font-size: 9em;
}

.in-10x {
    font-size: 10em;
}