<!-- Required meta tags -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Favicons -->
<link rel="shortcut icon" type="image/png" href="<cms:thumbnail src=" <cms:get_field 'favicon' masterpage='index.php' />
" height='96' enforce_max='1'/>" />
<link rel="apple-touch-icon" sizes="57x57" href="<cms:thumbnail src=" <cms:get_field 'favicon' masterpage='index.php' />
" height='57' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="60x60" href="<cms:thumbnail src=" <cms:get_field 'favicon' masterpage='index.php' />
" height='60' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="72x72" href="<cms:thumbnail src=" <cms:get_field 'favicon' masterpage='index.php' />
" height='72' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="76x76" href="<cms:thumbnail src=" <cms:get_field 'favicon' masterpage='index.php' />
" height='76' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="114x114" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='114' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="120x120" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='123' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="144x144" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='144' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="152x152" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='152' enforce_max='1'/>">
<link rel="apple-touch-icon" sizes="180x180" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='180' enforce_max='1'/>">
<link rel="icon" type="image/png" sizes="192x192" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='192' enforce_max='1'/>">
<link rel="icon" type="image/png" sizes="32x32" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='32' enforce_max='1'/>">
<link rel="icon" type="image/png" sizes="96x96" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='96' enforce_max='1'/>">
<link rel="icon" type="image/png" sizes="16x16" href="<cms:thumbnail src=" <cms:get_field 'favicon'
    masterpage='index.php' />" height='16' enforce_max='1'/>">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="<cms:thumbnail src=" <cms:get_field 'favicon' masterpage='index.php' />"
height='144' enforce_max='1'/>">
<meta name="theme-color" content="#00a8e8">
<!-- Core Css -->
<link rel="stylesheet" href="<cms:show k_site_link />assets/css/styles.css" />
<link rel="stylesheet" href="<cms:show k_site_link />assets/fonts/innepall/style.css" />
<link rel="stylesheet" href="<cms:show k_site_link />assets/css/custom.css" />