<!-- Import Js Files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha256-CDOy6cOibCWEdsRiZuaHf8dSGGJRYuBGC+mjoJimHGw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@6.3.0/dist/simplebar.min.js" integrity="sha256-lQoK0/oTiD6O+azapz5MeprcrJI24dbBrxPAPvA4E10=" crossorigin="anonymous"></script>
<script src="<cms:show k_site_link />assets/js/theme/app.init.js"></script>
<script src="<cms:show k_site_link />assets/js/theme/theme.js"></script>
<script src="<cms:show k_site_link />assets/js/theme/app.min.js"></script>
<script src="<cms:show k_site_link />assets/js/theme/sidebarmenu.js"></script>
<!-- solar icons -->
<script src="https://cdn.jsdelivr.net/npm/iconify-icon@2.3.0/dist/iconify-icon.min.js" integrity="sha256-MPaPGgzX+tFJErHgAS6r8oOgAke66FpyFMgFdD7UGOs=" crossorigin="anonymous"></script>